In [2]:
print('Addition: ', 1 + 2)

Addition:  3

In [3]:
print('Substraction: ', 2 - 1)

Substraction:  1

In [4]:
print('Multiplication: ', 2 * 3)

Multiplication:  6

In [5]:
print('Division: ', 4 / 2)

Division:  2.0

In [6]:
print('Division: ', 7 / 2)

Division:  3.5

In [8]:
print('Division without the remainder: ', 7 // 2)

Division without the remainder:  3

In [9]:
print('Modulus: ', 7 % 2)

Modulus:  1

In [11]:
print('Exponentiation: ', 2 ** 3)

Exponentiation:  8

In [12]:
print('Floating point number, PI', 3.14)

Floating point number, PI 3.14

In [13]:
print('Floating point number, gravity', 9.81)

Floating point number, gravity 9.81

In [14]:
print('Complex number:', 1 + 1j)

Complex number: (1+1j)

In [15]:
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

Multiplying complex numbers:  (2+0j)

In [16]:
# Declaring the variable at the top first
a = 3
b = 2

In [17]:
# Arithmetic operations and assiging the result to a variable
total = a + b #sum is a built-in function - avoid overriding them
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [18]:
print(total)

5

In [19]:
print('a + b = ', total)

a + b =  5

In [20]:
print('a - b = ', diff)

a - b =  1

In [21]:
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [22]:
print('== Addition, Substraction, Multiplication, Division, Modulus ==')

== Addition, Substraction, Multiplication, Division, Modulus ==

In [23]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

In [24]:
# Arithmetic operations:
total = num_one + num_two
diff = num_one - num_two
product = num_one * num_two
div = num_one / num_two
remainder = num_one % num_two

In [25]:
# Printing values with label:
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  -1
product:  12
division:  0.75
remainder:  3

Calculating area of circle:

In [26]:
radius = 10
area_of_circle = 3.14 * radius ** 2
print('Area of circle with radius = ', radius, 'is', area_of_circle)

Area of circle with radius =  10 is 314.0

Calculating area of a rectangle

In [27]:
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

Calculating the weight of an object

In [28]:
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N') #adding unit to the weight

735.75 N

Calculating the density of a liquid

In [29]:
mass = 75 #in Kg
volume = 0.075 #in cubic meter
density = mass / volume #1000kg/m^3

In [30]:
print('density: ', density)

density:  1000.0

## Comparison Operators

In [31]:
print(3 > 2)

True

In [32]:
print(3 >= 2)

True

In [33]:
print(3 < 2)

False

In [34]:
print(3 <= 2)

False

In [35]:
print(2 < 3)

True

In [36]:
print(2 <= 3)

True

In [37]:
print(3 == 2)

False

In [38]:
print(3 != 2)

True

In [39]:
print(len('mango') == len('avocado'))

False

In [40]:
print(len('mango') != len('avocado'))

True

In [41]:
print(len('mango') < len('avocado'))

True

In [42]:
print(len('milk') != len('meat'))

False

In [43]:
print(len('milk') == len('meat'))

True

In [44]:
print(len('tomato') == len('potato'))

True

In [45]:
print(len('tomato') > len('dragon'))

False

In [46]:
# Comparing something gives either a True or False

In [48]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True == True:  True
True == False:  False
False == False: True

Python also uses:
- is: returns True if both variables are the same object (x is y)
- is not: returns True if both variables are not the same object (x is not y)
- in: returns True if the queried list contains a certain item (x in y)
- not in: returns True if the queried list doesn't have a certain item (x in y)

In [49]:
print('1 is 1', 1 is 1)

1 is 1 True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hdcda\AppData\Local\Temp\ipykernel_11792\528044225.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)

In [50]:
print('1 is not 2', 1 is not 2)

1 is not 2 True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\hdcda\AppData\Local\Temp\ipykernel_11792\2684715621.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)

In [51]:
print('D in Dannie', 'D' in 'Dannie')

D in Dannie True

In [52]:
print('A in Dannie', 'A' in 'Dannie')

A in Dannie False

In [53]:
print('a in Dannie', 'a' in 'Dannie')

a in Dannie True

In [54]:
print('coding' in 'coding for all')

True

In [55]:
print('4 is 2 ** 2: ', 4 is 2 ** 2)

4 is 2 ** 2:  True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hdcda\AppData\Local\Temp\ipykernel_11792\2847434392.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2: ', 4 is 2 ** 2)

## Logical Operators
- and
- or
- not

In [56]:
print(3 > 2 and 4 > 3)

True

In [57]:
print(3 > 2 and 4 < 3)

False

In [58]:
print(3 < 2 and 4 < 3)

False

In [59]:
print(3 > 2 or 4 > 3)

True

In [60]:
print(3 > 2 or 4 < 3)

True

In [61]:
print(3 < 2 or 4 < 2)

False

In [62]:
print(not 3 > 2) # False because 3 > 2 is true, then not true gives false

False

In [63]:
print(not True)

False

In [64]:
print(not False)

True

In [65]:
print(not not True)

True

In [66]:
print(not not False)

False

## Excercises

1. Declare your age as integer variable

In [67]:
age = 30

2. Declare your height as a float variable

In [68]:
height = 1.64

3. Declare a variable that store a complex number

In [74]:
complex_number = 3 + 2j

4. Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h)

In [76]:
base = float(input('Base of triangle: '))
height = float(input('Height of triangle: '))
area_of_triangle = 0.5 * base * height
print('The area of the triangle is ', area_of_triangle)

Base of triangle: 5
Height of triangle: 8
The area of the triangle is  20.0

5. Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).

In [77]:
a = float(input('Side a of triangle is: '))
b = float(input('Side b of triangle is: '))
c = float(input('Side c of triangle is: '))
perimeter_of_triangle = a + b + c
print('The perimeter of the triangle is: ', perimeter_of_triangle)

Side a of triangle is: 3
Side b of triangle is: 4
Side c of triangle is: 5
The perimeter of the triangle is:  12.0

6. Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))

In [81]:
length = float(input('The length of the rectangle is: '))
width = float(input('The width of the rectangle is: '))
area = length * width
perimeter = 2 * (length + width)
print('The area of the rectangle is ',area, ',and the primeter is ', perimeter)

The length of the rectangle is: 7
The width of the rectangle is: 6
The area of the rectangle is  42.0 ,and the primeter is  26.0

7. Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.

In [82]:
radius = float(input('The radius of the circle is: '))
area = 3.14 * radius ** 2
circ = 2 * 3.14 * radius
print('The area of the circle is', area, 'and the circumference of the circle is', circ)

The radius of the circle is: 4
The area of the circle is 50.24 and the circumference of the circle is 25.12

8. Calculate the slope, x-intercept and y-intercept of y = 2x -2

y = mx + b
where: 
- m is the slope 
- b is the y-intercept
To calculate the slope(m), we can observe that the coefficient of x is 2. So the slope is simply the value of that coefficient. In this case, the slope is 2.

To find the x-intercept, we set y to 0 and solve for x. In other words, we find the value of x where the line intersects the x-axis. In our equation, y = 2x -2, we can substitute y with 0 and solve for x:
0 = 2x - 2
x=1

So, the x intercept is 1, which means the line crosses the x-axis at point (1,0).

To find the y-intercept, we set x to 0 and solve for y:
y= 2(0) - 2
y = -2
So the y-intercept is -2, which means the line crosses the y-axis at the point (0,-2)

In [83]:
slope = 2
x_intercept = 1
y_intercept = -2

print('Slope:', slope)
print('x-intercept:', x_intercept)
print('y-intercept:', y_intercept)

Slope: 2
x-intercept: 1
y-intercept: -2

In [85]:
# y = mx + b
# m slope
# b y-intercept

m = 2
b = -2
x_intercept = -b/m

print('Slope:', m)
print('x-intercept:', x_intercept)
print('y-intercept:', b)

Slope: 2
x-intercept: 1.0
y-intercept: -2

9. Slope is (m = y2-y1/x2-x1). Find the slope and Euclidean distance between point (2, 2) and point (6,10)

In [86]:
import math
x1, y1 = 2, 2
x2, y2 = 6, 10

slope = (y2 - y1) / (x2 - x1)

distance = math.sqrt((x2-x1)**2 + (y2-y1)**2)

print('Slope:', slope)
print('Euclidean distance:', distance)

Slope: 2.0
Euclidean distance: 8.94427190999916

10. Compare the slopes in tasks 8 and 9

In [87]:
m == slope

True

In [88]:
m >= slope

True

In [89]:
m <= slope

True

In [90]:
m > slope

False

In [91]:
m < slope

False

In [92]:
m != slope

False

12. Find the length of 'python' and 'dragon' and make a falsy comparison statement.

In [95]:
length1 = len('python')
length2 = len('dragon')

print('Length of python is:', length1)
print('Length of dragon is:', length2)

Length of python is: 6
Length of dragon is: 6

In [96]:
print('Falsy comparison:', length1 > length2)

Falsy comparison: False

13.Use and operator to check if 'on' is found in both 'python' and 'dragon'

In [98]:
print('on in python and dragon:', 'on' in 'python' and 'on' in 'dragon')

on in python and dragon: True

14. I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.

In [99]:
print('jargon:', 'jargon' in 'I hope this course is not full of jargon')

jargon: True

 15. There is no 'on' in both dragon and python

In [100]:
print("No 'on' in both dragon and python:", 'on' not in 'dragon' and 'on' not in 'python')

No 'on' in both dragon and python: False

16. Find the length of the text python and convert the value to float and convert it to string

In [108]:
length = len('python')

In [109]:
print(length)

6

In [110]:
length_fl = float(len('python'))
print(length_fl)

6.0

In [111]:
length_st = str(len('python'))
print(length_st)

6

17. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?

In [112]:
# with the modulus operator and using an if statement

In [113]:
num = 6
if 6 % 2 == 0:
    print('Even')
else:
    print('not even')

Even

18.Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.

In [115]:
7 // 3 == int(2.7)

True

19. Check if type of '10' is equal to type of 10

In [116]:
type('10') == type(10)

False

20. Check if int('9.8') is equal to 10

In [120]:
int('9.8') == 10 # gives error because the string '9.8' cannot be directly converted to integer

ValueError: invalid literal for int() with base 10: '9.8'

Write a script that prompts the user to enter hours and rate per hour. Calculate pay of the person.

In [122]:
hours = float(input('How many hours per month: '))
hourly_rate = float(input('What is the hourly rate?:'))
pay = hours * hourly_rate
print('The pay for this month is:', pay)

How many hours per month: 24
What is the hourly rate?:50
The pay for this month is: 1200.0

22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

In [123]:
years = float(input('How old are you?:'))
seconds_lived = years * 365 * 24 * 60 * 60
print('You have lived approximately ', seconds_lived, 'seconds')

How old are you?:30
You have lived approximately  946080000.0 seconds

23.Write a Python script that displays the following table

In [131]:
print('1 1 1 1 1\n2 1 2 4 8\n3 1 3 9 27\n4 1 4 16 64\n5 1 5 25 125')

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125